
/*** guide ***/


#scroll_to_list a {
    border-radius: 0.15rem;
    color: #bfccdc;
    border-bottom: 1px solid #fff;
    transition: background .3s,color .3s;
    -webkit-transition: background .3s,color .3s;
    -moz-transition: background .3s,color .3s;
}
/* #scroll_to_list a:hover {
    border-radius: 0.25rem;
    color: #bfccdc;
    border-bottom: 1px solid #f0f3f9;
    transition: background .3s,color .3s;
    -webkit-transition: background .3s,color .3s;
    -moz-transition: background .3s,color .3s;
}
 */

#scroll_to_top a {
    border-radius: 0.25rem;
    color: #bfccdc;
    border-bottom: 1px solid #f0f3f9;

}
#scroll_to_list a:hover,#scroll_to_top a:hover{
    color: #fff;
    background-color: #6293d4;
	border-bottom: 1px solid #6293d4;
}

.mui-rightlist {
    font-size: 20px;
    background: #fff;
    display: inline-block;
    width: 40px;
    text-align: center;
}

#scroll_to_list a, #scroll_to_top a {
       -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
  .top_dingbu{
  position: fixed; _position: absolute; bottom: 176px; right: 10px; width: 70px; height: 90px; display: none;
  }


a.weixin {
    position: relative;
}
 
.weixin div.qrcode {
  position: absolute;
  z-index: 99;
  top: -74px;
  right: 52px;
  width: 7.5rem;
  max-width: none;
  height: 7.5rem;
  transform: scale(0);
  transform-origin: top right;
  opacity: 0;
  background: #fff;
  border: .2.5rem solid #6293d4;
  border-radius: .25rem;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
 .qrcode {
    content: ".";
    font-size: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.weixin:hover div.qrcode {
    transform: scale(1);
    opacity: 1;

}
.panel-body{
width:0;
height:0;
border: 6px solid transparent;
border-left-color: #fff;
position:absolute;
content:'';
top: 70%;
}
/*
@media (max-width: 576px){
#scroll_to_top {
    height: 158px !important;
}
/*
@media (max-width: 576px){
#scroll_to_top {
    bottom: 200px !important;
}*/
@media (max-width: 576px){
#scroll_to_list, #scroll_to_top {
    right: -30px !important;
}

